
*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #1e1e2f;
    color: #d8dee9;
}

h1 {
    font-family: 'Orbitron', sans-serif;
    text-align: center;
    margin-top: 20px;
    font-size: 3.5rem;
    color: #32CD32;
    letter-spacing: 2px;
    font-weight: bold;
    text-shadow: 2px 2px 5px #4B0082;
    transform: scale(1.1);
}


h1:hover {
    transform: scale(1.1);
    color: #32CD32;
}



#forms {
    width: 300px;
    margin: 0 auto;
}

form {
    background-color: #292b3e;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(157, 0, 255, 0.4);
}

label {
    display: block;
    margin-top: 10px;
    color: #b1e6a9;
}

input, select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 2px solid #5dfb5d;
    border-radius: 5px;
    background-color: #1e1e2f;
    color: #d8dee9;
    font-size: 1rem;
    box-sizing: border-box;
}

input::placeholder {
    color: #a5a5a5;
}

button {
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    background-color: #9a5ccc;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 5px #6b3384;
    transition: background-color 0.3s, box-shadow 0.3s;
}

button:hover {
    background-color: #6b3384;
    box-shadow: 0 5px #9a5ccc;
}

#main-content {
    margin-top: 20px;
    overflow: hidden;
}

#user-options {
    display: flex;
    justify-content: center;
    gap: 10px;
    text-align: center;
}

#user-options button {
    width: 20%;
    background-color: #292b3e;
    color: #9a5ccc;
    font-weight: bold;
    border: 2px solid #5dfb5d;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
}

#user-options button:hover {
    background-color: #5dfb5d;
    color: #292b3e;
    box-shadow: 0 5px rgba(0, 0, 0, 0.2);
}

#pet-display {
    height: 400px;
    background-image: url('/background/underwater_background.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
    border: 2px solid #9a5ccc;
    border-radius: 8px;
    padding: 10px;
    overflow-y: auto;
}

.pet-image-container {
    position: relative;
    display: block;
    z-index: 2;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(93, 251, 93, 0.5);
}

.pet-image {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 5px;
    transition: transform 0.2s ease;
}

.pet-image, .death-image {
    width: 100px;
    height: auto;
    margin: 10px;
}
.pet-image-container {
    display: inline-block;
    text-align: center;
}


.pet-image-container:hover .pet-image {
    transform: scale(1.1);
}

.pet-info-user {
    display: none;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.75);
    color: #5dfb5d;
    padding: 5px;
    border-radius: 5px;
    font-size: 0.9rem;
    width: max-content;
    z-index: 2;
}

.pet-image-container:hover .pet-info-user {
    display: block;
}

#pets-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    width: 100%;
    background-color: #1e1e2f;
}

.pet-container {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #292b3e;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #5dfb5d;
    box-shadow: 0 2px 4px rgba(157, 0, 255, 0.4);
}

.pet-info {
    display: flex;
    flex-direction: column;
    color: #d8dee9;
}
